{% comment %}
----------------------------------------------------------------------------
  Snippet: Mobile navigation sub navigation
----------------------------------------------------------------------------
{% endcomment %}
<li class="{% if link.active %}current-menu-item{% endif %} {% if forloop.last %}menu-item-last{% endif %} mobile-blocks__sub-menu-item mobile-blocks__sub-menu-item--link">
    <div class="mobile-blocks__sub-menu-item-inner relative border-color-light-grey background-color-white">
        <a
        href="{{ link.url }}"
        class=""
        >

        {% assign this_link_icon_split = link.title | split: '#' %}
        {% if this_link_icon_split[1] != blank %}
            {% assign this_link_icon = this_link_icon_split[1] %}
        {% elsif this_link_icon_split[1] == 'none' %}
            {% assign this_link_icon = 'none' %}
        {% else %}
            {% assign this_link_icon = this_link_icon_split[0] %}
        {% endif %}

        {% assign this_link_icon = this_link_icon | downcase | replace: ' ', '-' %}
        {% assign this_link_icon = this_link_icon | replace: '£', '' %}
        {% assign this_link_icon = this_link_icon | replace: '&', 'and' %}

        <p class="p mobile-blocks__sub-menu-item--title bold">
            {{ this_link_icon_split[0] }}
        </p>

        {% if this_link_icon != 'none' %}
            <!-- get {{ this_link_icon }}.png -->
            <div style="background: url(https://cdn.shopify.com/s/files/1/0524/0641/9644/files/mobile-nav-{{ this_link_icon }}.png?v=4); background-size: auto 100%; background-position: 0.5rem 0; background-repeat: no-repeat;" class="mobile-blocks__sub-menu-item--image mobile-blocks__image mobile-blocks__image--{{ icon }}"></div>
        {% else %}
            <div style="" class="mobile-blocks__sub-menu-item--image mobile-blocks__image mobile-blocks__image--{{ icon }}"></div>
        {% endif %}

        </a>
    </div>
</li>