<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>{{ shop.name }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'head-social-meta-tags' %}

  {{ content_for_header }}

  <style>
    {% render 'critical.css' %}
  </style>

  {% render 'shogun-head' %}

</head>

<body class="template-password background-color-blue">

  <main role="main" class="template-password__main page-padding page-width color-white">

    <div>
      <div
        class="template-password__logo"
        js-password="trigger"
      >
        {% render 'logos' with icon: 'logo-tkc-white' %}

        <hr class="color-yellow">
      </div>

      {{ content_for_layout }}

      <div
        id="Login"
        class="template-password__login page-width page-width--mobile"
        js-password="login"
      >
        {% form 'storefront_password' %}
          {{ form.errors | default_errors }}
          <input type="password"
            name="password"
            id="Password"
            placeholder="Password"
            autofocus
          >
          <button type="submit" name="commit" class="button button--yellow button--wide">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        {% endform %}
      </div>

    </div>

  </main>

  <div class="template-password__footer background-color-navy border-top color-yellow"></div>

  <script>
    const selectors = {
      trigger: '[js-password="trigger"]',
      login: '[js-password="login"]',
    };
    const nodeSelectors = {
      trigger: document.querySelector(selectors.trigger),
      login: document.querySelector(selectors.login),
    };
    nodeSelectors.trigger.addEventListener('click', function(){
      nodeSelectors.login.classList.add('is-active');
    });
  </script>

</body>
</html>
