<div class="page-width page-width--mobile vertical-padding">
  <div class="recover-password-form" data-recover-form>
    <h2>{{ 'customer.recover_password.title' | t }}</h2>
    <p>{{ 'customer.recover_password.subtext' | t }}</p>

    {% form 'recover_customer_password' %}
      {{ form.errors | default_errors }}

      {% if form.posted_successfully? %}
        <span class="hide" data-form-state></span>
      {% endif %}

      <label for="RecoverEmail" class="label-hidden">
        {{ 'customer.recover_password.email' | t }}
      </label>
      <input
        type="email"
        name="email"
        class="recover-password-form__input"
        id="RecoverEmail"
        placeholder="{{ 'customer.recover_password.email' | t }}"
        spellcheck="false"
        autocomplete="off"
        autocapitalize="off"
      >

      <input type="submit" class="button block" value="{{ 'customer.recover_password.submit' | t }}">

      <button type="button" data-recover-toggle class="button button--yellow block">
        {{ 'customer.recover_password.cancel' | t }}
      </button>
    {% endform %}
  </div>
</div>